<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Portfólio</title>

<link rel="stylesheet" href="css/Style.css">
</head>

<body>

<div class="container">


    <div class="perfil">
        <h1>Leonardo Silva de Melo</h1>

        <div class="contato">
            <p>Email: contatoleonardomelo25@gmail.com</p>
            <p>Telefone: (82) 9 9603-9538</p>
        </div>
    </div>

   

    <div class="secao">
        <h2>Objetivo</h2>
        <p>
            Desenvolver habilidades em programação e participar de projetos
            que contribuam para meu crescimento profissional na área de
            tecnologia e devOps.
        </p>
    </div>


    <div class="secao">
        <h2>Sobre Projeto</h2>
        <p>
            Este site foi desenvolvido utilizando Spring Boot e Thymeleaf
            como forma de praticar conceitos de versionamento, deploy, CI/CD,
            Github Actions e outras ferramentas que fazem parte da área de devOps
        </p>
    </div>

    <div class="secao">
        <h2>Escolaridade</h2>
        <p>
            UNOPAR- Engenharia da Computação(2025-2030)
        </p>

    </div>

</div>

</body>
</html>